<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SkilEx.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>4CD9E8E66EBE8BBF72A5DAB5128DAAC81A619958</string>
				<key>dateExpires</key>
				<string>16/12/21</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4CD9E8E66EBE8BBF72A5DAB5128DAAC81A619958</string>
						<key>dateExpires</key>
						<string>16/12/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V6CV8B3X47</string>
						<key>name</key>
						<string>Skilex Multiservices Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4CD9E8E66EBE8BBF72A5DAB5128DAAC81A619958</string>
						<key>dateExpires</key>
						<string>16/12/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Bolts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V6CV8B3X47</string>
						<key>name</key>
						<string>Skilex Multiservices Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4CD9E8E66EBE8BBF72A5DAB5128DAAC81A619958</string>
						<key>dateExpires</key>
						<string>16/12/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V6CV8B3X47</string>
						<key>name</key>
						<string>Skilex Multiservices Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4CD9E8E66EBE8BBF72A5DAB5128DAAC81A619958</string>
						<key>dateExpires</key>
						<string>16/12/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>HMSegmentedControl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V6CV8B3X47</string>
						<key>name</key>
						<string>Skilex Multiservices Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4CD9E8E66EBE8BBF72A5DAB5128DAAC81A619958</string>
						<key>dateExpires</key>
						<string>16/12/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V6CV8B3X47</string>
						<key>name</key>
						<string>Skilex Multiservices Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4CD9E8E66EBE8BBF72A5DAB5128DAAC81A619958</string>
						<key>dateExpires</key>
						<string>16/12/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ReachabilitySwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V6CV8B3X47</string>
						<key>name</key>
						<string>Skilex Multiservices Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4CD9E8E66EBE8BBF72A5DAB5128DAAC81A619958</string>
						<key>dateExpires</key>
						<string>16/12/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V6CV8B3X47</string>
						<key>name</key>
						<string>Skilex Multiservices Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4CD9E8E66EBE8BBF72A5DAB5128DAAC81A619958</string>
						<key>dateExpires</key>
						<string>16/12/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V6CV8B3X47</string>
						<key>name</key>
						<string>Skilex Multiservices Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4CD9E8E66EBE8BBF72A5DAB5128DAAC81A619958</string>
						<key>dateExpires</key>
						<string>16/12/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>V6CV8B3X47.com.customer.SkilEx.NotificationService2</string>
						<key>com.apple.developer.team-identifier</key>
						<string>V6CV8B3X47</string>
						<key>get-task-allow</key>
						<false/>
						<key>keychain-access-groups</key>
						<array>
							<string>V6CV8B3X47.com.customer.SkilEx.NotificationService2</string>
						</array>
					</dict>
					<key>name</key>
					<string>NotificationService.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>b712bfe9-24e0-40be-89fc-35a1237b4690</string>
						<key>name</key>
						<string>iOS Team Ad Hoc Provisioning Profile: com.customer.SkilEx.NotificationService2</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V6CV8B3X47</string>
						<key>name</key>
						<string>Skilex Multiservices Private Limited</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>V6CV8B3X47.com.customer.SkilEx</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>V6CV8B3X47</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>SkilEx.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>22520d0d-6598-4451-8fd0-5f7b80c649f1</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.customer.SkilEx</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>V6CV8B3X47</string>
				<key>name</key>
				<string>Skilex Multiservices Private Limited</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
